Repository fossabot/salp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:unit:frontend, test:unit:application, test:unit:course-sandbox, test:unit:packages, test:e2e:frontend:production, test:e2e:frontend:development, docs:build

.gitlab-ci.yml:

# global default image
image: node:latest

cache:
  key: "${CI_COMMIT_REF_SLUG}"
  paths:
    - ${CI_PROJECT_DIR}/.cache/npm
    - ${CI_PROJECT_DIR}/.cache/electron
    - ${CI_PROJECT_DIR}/.cache/electron-builder
    - ${CI_PROJECT_DIR}/.cache/Cypress

stages:
  - audit
  - lint
  - test
  - docs
  - build

# global defaults
variables:
  npm_config_cache: ${CI_PROJECT_DIR}/.cache/npm
  ELECTRON_CACHE: ${CI_PROJECT_DIR}/.cache/electron
  ELECTRON_BUILDER_CACHE: ${CI_PROJECT_DIR}/.cache/electron-builder
  CYPRESS_CACHE_FOLDER: ${CI_PROJECT_DIR}/.cache/Cypress
  CYPRESS_INSTALL_BINARY: "0"
  CORE_PACKAGES: "@salp/{frontend,application,course-sandbox}"

before_script:
  - npm ci
  - npm run postinstall --unsafe-perm

# jobs
.linting: &linting
  stage: lint
  only:
    - merge_request
  variables:
    LERNA_ARGS: --ignore-prepublish

eslint:core:
  <<: *linting
  script:
    - npx lerna run lint --no-bail --scope=$CORE_PACKAGES -- -- --no-fix

eslint:packages:
  <<: *linting
  script:
    - npx lerna run lint --no-bail --ignore=$CORE_PACKAGES -- -- --no-fix

stylelint:frontend:
  <<: *linting
  script:
    - cd src/frontend/
    - npm run lint:style

test:unit:frontend:
  stage: test
  only:
    refs:
      - branches
      - tags
      - merge_requests
    changes:
      - src/frontend/**/*
  variables:
    NODE_ENV: "test"
  script:
    - cd src/frontend/
    - npm run coverage:unit
  coverage: '/^Statements\s*:\s*([^%]+)/'
  artifacts:
    paths:
      - src/frontend/coverage/

test:unit:application:
  image: node:11.6
  stage: test
  only:
    refs:
      - branches
      - tags
      - merge_requests
    changes:
      - src/application/**/*
  script:
    - cd src/application/
    - npm run coverage:unit
  coverage: '/^Statements\s*:\s*([^%]+)/'
  artifacts:
    paths:
      - src/application/coverage/

test:unit:course-sandbox:
  stage: test
  only:
    refs:
      - branches
      - tags
      - merge_requests
    changes:
      - src/course-sandbox/**/*
  variables:
    NODE_ENV: "test"
  script:
    - cd src/course-sandbox/
    - npm run coverage:unit
  coverage: '/^Statements\s*:\s*([^%]+)/'
  artifacts:
    paths:
      - src/course-sandbox/coverage/

test:unit:packages:
  stage: test
  only:
    refs:
      - branches
      - tags
      - merge_requests
    changes:
      - packages/@salp/**/*
  script:
    - npx lerna run test --no-bail --ignore=$CORE_PACKAGES

test:e2e:frontend:production: &test_e2e_frontend
  image: cypress/base:10
  stage: test
  only:
    refs:
      - branches
      - tags
      - merge_requests
    changes:
      - src/frontend/**/*
  variables:
    CYPRESS_INSTALL_BINARY: ""
    RUNTIME_NODE_ENV: "production"
    COMPILE_MODE: "production"
  script:
    - cd src/frontend/
    - NODE_ENV="$RUNTIME_NODE_ENV" npm run test:e2e -- --mode $COMPILE_MODE
  artifacts:
    expire_in: 1 day
    when: always
    paths:
    - src/frontend/tests/e2e/renderer/screenshots
    - src/frontend/tests/e2e/renderer/videos

test:e2e:frontend:development:
  <<: *test_e2e_frontend
  variables:
    CYPRESS_INSTALL_BINARY: ""
    RUNTIME_NODE_ENV: "production"
    COMPILE_MODE: "development"

npm_audit:
  stage: audit
  only:
    - schedules
  allow_failure: true
  before_script:
    - npm ci
  script:
    - npm audit
    - ./scripts/npm-audit-packages.js

docs:build:
  stage: docs
  only:
    refs:
      - master
    changes:
      - docs/**/*
  before_script:
    - npm ci
  script:
    - npm run docs:build
    - mv docs/.vuepress/dist/ public
  artifacts:
    paths:
      - public/

build:app:linux: &build_app
  image: electronuserland/builder:10
  stage: build
  only:
    - /^release.*$/
  variables:
    BUILD_NUMBER: $CI_COMMIT_SHORT_SHA
  script:
    - npm run build -- -- -- --linux
  artifacts:
    expire_in: 1 week
    paths:
      - src/application/dist/

build:app:windows:
  <<: *build_app
  image: electronuserland/builder:wine
  script:
    - npm run build -- -- -- --windows

Add vue dependency to course-bundler
  packages/@salp/course-bundler/package-lock.json
  packages/@salp/course-bundler/package.json
Due: test:unit:packages

Fix internal courses bundling
  packages/@salp/course-bundler/lib/webpack-config.js
Due: test:unit:packages

Implement sidemenu with return/back button in course-content
  src/frontend/locales/en/Course.json
  src/frontend/src/components/Pages/Course.vue
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Implement license discovery script for ThirdPartyNotices
  src/application/package-lock.json
  src/application/package.json
  src/application/scripts/build/licenses.ejs
  src/application/scripts/build/licenses.js
Due: test:unit:application

Implement build script for application
  src/application/.gitignore
  src/application/package.json
  src/application/scripts/build.js
Due: test:unit:application

Add QuestionRouter test
  src/course-sandbox/src/components/AssignmentElements/QuestionRouter.spec.js
  src/course-sandbox/src/components/AssignmentElements/QuestionRouter.vue
Due: test:unit:course-sandbox

Add Controls test
  src/course-sandbox/src/components/AssignmentElements/Controls.spec.js
  src/course-sandbox/src/components/AssignmentElements/Controls.vue
Due: test:unit:course-sandbox

Generate ThirdPartyNotices when serving application
  scripts/serve/start-electron.js
Due: none

Implement about service in application to read ThirdPartyNotices
  src/application/electron-builder.js
  src/application/src/services/about.js
Due: test:unit:application

Remove unnecessary refs in "only" option of test jobs
  .gitlab-ci.yml
Due: none

Split test jobs into two stages (unit, e2e)
  .gitlab-ci.yml
Due: none

Disable docs:build job on scheduled pipelines
  .gitlab-ci.yml
Due: none

Add about window
  src/application/src/services/about.js
  src/application/src/windows/about.css
  src/application/src/windows/about.html
  src/application/src/windows/assets/img/logo.png
Due: test:unit:application

Add application menu
  src/application/src/index.js
  src/application/src/menu.js
Due: test:unit:application

Remove about button from main menu
  src/frontend/src/components/MainMenu.vue
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Show custom about page in application menu
  src/application/src/menu.js
Due: test:unit:application

Add hints to assignment
  courses/salp-course-heartbleed/assignments/01-Heartbleed.js
  src/course-sandbox/locales/de/Assignment.json
  src/course-sandbox/locales/en/Assignment.json
  src/course-sandbox/src/components/AssignmentElements/Controls.vue
  src/course-sandbox/src/components/AssignmentElements/HintCheckbox.spec.js
  src/course-sandbox/src/components/AssignmentElements/Hints.spec.js
  src/course-sandbox/src/components/AssignmentElements/Hints.vue
  src/course-sandbox/src/components/AssignmentElements/QuestionRouter.vue
Due: test:unit:course-sandbox

Configure mocking of process.versions in frontend
  src/frontend/__mocks__/browser/electron/process.js
  src/frontend/vue.config.js
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Remove unused trash icon
  src/frontend/src/components/Course/CourseCard.vue
  src/frontend/src/components/Course/CourseCardFull.vue
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Add hints to schema
  packages/@salp/course-bundler/types/options.d.ts
Due: test:unit:packages

Move About page from application to frontend
  src/application/src/services/about.js
  src/application/src/windows/about.css
  src/application/src/windows/about.html
  src/frontend/__mocks__/browser/electron/index.js
  src/frontend/__mocks__/browser/electron/shell.js
  src/frontend/src/about.js
  src/frontend/src/components/About.vue
  src/frontend/src/components/logo.png
  src/frontend/src/index.html
  src/frontend/src/theme/about.scss
  src/frontend/vue.config.js
Due: test:unit:frontend, test:unit:application, test:e2e:frontend:production, test:e2e:frontend:development

Make frontend About page static
  src/frontend/public/assets/img/logo.png
  src/frontend/src/about.html
  src/frontend/src/about.js
  src/frontend/src/components/About.vue
  src/frontend/src/theme/about.scss
  src/frontend/vue.config.js
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Add start button to CourseCardFull
  src/frontend/src/components/Course/CourseCardFull.vue
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Fix path to ThirdPartyNotices.txt in production
  src/application/electron-builder.js
  src/application/src/services/about.js
Due: test:unit:application

Prevent unwanted navigation in About window
  src/application/src/services/about.js
Due: test:unit:application

Remove unused imports
  src/application/src/services/about.js
Due: test:unit:application

Fix link to first chapter in CourseCardFull
  src/frontend/src/components/Course/CourseCardFull.vue
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Fix missing required prop in Course side menu
  src/frontend/src/components/Pages/Course.vue
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Add localization for go
  src/frontend/locales/de/Detail.json
  src/frontend/locales/en/Detail.json
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Add localization for go
  src/frontend/src/components/Course/CourseCardFull.vue
Due: test:unit:frontend, test:e2e:frontend:production, test:e2e:frontend:development

Add licenses to all packages
  core/application/LICENSE
  core/application/package.json
  core/course-sandbox/LICENSE
  core/course-sandbox/README.md
  core/course-sandbox/package.json
  core/frontend/LICENSE
  core/frontend/package.json
  courses/salp-course-example/LICENSE
  courses/salp-course-example/package.json
  courses/salp-course-heartbleed/LICENSE
  courses/salp-course-heartbleed/package.json
  packages/@salp/course-bundler/LICENSE
  packages/@salp/course-bundler/README.md
  packages/@salp/course-bundler/package.json
  packages/@salp/markdown-loader/LICENSE
  packages/@salp/markdown-loader/package.json
Due: test:unit:packages

Add global README
  README.md
  docs/.vuepress/public/assets/img/screenshots/course_detail.png
  docs/.vuepress/public/assets/img/screenshots/dashboard.png
Due: docs:build

Add or update READMEs of all sub-packages
  core/application/README.md
  core/course-sandbox/README.md
  core/frontend/README.md
  courses/salp-course-example/README.md
  courses/salp-course-heartbleed/README.md
  packages/@salp/markdown-loader/README.md
Due: test:unit:packages

Add global LICENSE file
  LICENSE
  README.md
  package.json
Due: none

Add CI badges to README
  README.md
Due: none

Update project urls (change to gitlab.com)
  core/application/package.json
  core/application/src/menu.js
  core/course-sandbox/package.json
  core/frontend/package.json
  core/frontend/src/about.html
  courses/salp-course-example/package.json
Due: none

Add project information (urls) to root package.json
  package.json
Due: none

Move Course Detail locales to core folder
  core/frontend/locales/de/Detail.json
  core/frontend/locales/en/Detail.json
Due: none

Add license scan report and status
  README.md
Due: none
